table.message-container { width:525px; margin:10px; }
table.message-container * { font-family:'Tahoma'; font-size:12px; }
table.message-container th { text-align:left; padding:10px; font-size:16px; }
table.message-container td { padding:8px; vertical-align:top; }
table.message-container td.options { background:#F2F2F2; border-top:1px solid #CCCCCC; }
table.message-container td.options input { background:#EEEEEE; color:#222222; font-size:12px; font-weight:bold; font-family:'Tahoma'; border:1px solid #29447E; padding:4px; margin:2px; }
table.message-container td.between { color:#666666; }

table.message-container td.cb-unread { background:#ECEFF5; border-top:1px solid #DDDDDD; padding-top:25px; }
table.message-container td.pic-unread { background:#ECEFF5; border-top:1px solid #DDDDDD; width:50px; }
table.message-container td.text-unread { background:#ECEFF5; border-top:1px solid #DDDDDD; width:200px; }
table.message-container td.text-unread a { font-weight:bold; }
table.message-container td.text-unread a.unbold { font-weight:normal; }
table.message-container td.text-unread span { color:#666666; font-size:10px; }
table.message-container td.text-unread:hover div { text-decoration:underline; }

table.message-container td.cb { border-top:1px solid #DDDDDD; padding-top:25px; }
table.message-container td.pic { border-top:1px solid #DDDDDD; width:50px; }
table.message-container td.text { border-top:1px solid #DDDDDD; width:200px; }
table.message-container td.text a { font-weight:bold; }
table.message-container td.text a.unbold { font-weight:normal; }
table.message-container td.text span { color:#666666; font-size:10px; }
table.message-container td.text:hover div { text-decoration:underline; }

table.message-container td.write { color:#666666; font-size:13px; font-weight:bold; text-align:right; width:50px; }
table.message-container td.write2 { color:#666666; }
table.message-container td.write2 textarea { width:100%; height:50px; padding:2px; }
table.message-container td.write input { background:#627AAC; color:#FFFFFF; font-size:14px; font-weight:bold; font-family:'Tahoma'; border:1px solid #29447E; padding:4px; }